description "<%= @app_name %> background worker"

stop on (stopping puma-manager or runlevel [06])

setuid <%= @app_user %>
setgid <%= @app_user %>

respawn
respawn limit 3 30

instance <%= @app_name %>
export HOME="<%= @app_root %>/current"

cd <%= @app_root %>/current
logger -t puma "Starting server: <%= @app_name %>"
exec bundle exec puma -C <%= @app_root %>/config/puma.rb
